doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title dance website
        style
            include ../static/style.css
    body
    nav#navbar
       ul
          li #[a(href="#") Home]
          li #[a(href="#") About]
          li #[a(href="#") Contact] 
          li #[a(href="#") Services]
          Li #[a(href="#") Class info]
    section#introSection  
       div Welcome to Bedprakash's dance Academy
       div  Eat Sleep Dance Repeat

    section#sponsorSection  
       | section for picture

    footer#footer
       | THis is footer area 
    script
       include ../static/index.js